<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopularSwiftRepositories.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>989483842ECF5F5F0009D709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989483912ECF5F610009D709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9894839B2ECF5F610009D709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
